body {
    font-family: 'Oswald', sans-serif;
    font-size: medium;
  background-color: aquamarine;
}
h2{
    padding-left: 20px; 
    }

.rooftop
{
    padding-left: 30px;
    padding-right: 30px;
}    
.abouttext {
    padding-left: 30px;
    padding-right: 30px;
    
}
.row
{padding-top: 30px;
 padding-bottom: 30px;
  
}
.contact{
    text-align: center;
}